<style>
html, body, #myCarousel{
	width: 100%;
}
.hidden{
	display: none;
}
#banner{
	width: 100%;
	height: 200px;
	background-color: rgb(234,254,9);
}
#banner img{
	width: 300px;
	height: 200px;
	display: block;
	margin: auto;
}
#navbar_wrapper{
	width: 100%;
	height: 51px;
}
.navbar-default .container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-header{
  padding-left: 50px;
}

.navbar-right{
  padding-right: 20px;
}

.navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      /*color: #fff !important;*/
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

#about{
	width: 100%;
}

.zoom_image{
	z-index: 5;
    position: absolute;
    top: 0px;
    left: 27.5%;
    width: 42% !important;
}
#binder_wrapper{
	width: 74%;
	height: 863px;
	margin-left: 14%;
	position: absolute;
	z-index: -1;
}
#binder_wrapper img{
	width: 97%;
}
#container_wrapper{
	width: 74%;
	height: 863px;
	margin-left: 14%;
	position: absolute;
	z-index: 1;
}
#myCarousel{
	height: 870px;
}
.carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }

#search_div{
	width: 100%;
	height: 300px;
}

#container_wrapper .img_wrapper{
	min-width: 13.80%;
	max-width: 13.80%;
	margin-left: 1.1%;
	display: inline-block;
}
.img_wrapper img{
	width: 100%;
}
#count_1,#count_2,#count_3{
	margin-top: .8%;
	float: left;
}
#count_4{
	clear: left;
	margin-top: 1.1%;
	float: left;
}
#count_5, #count_6{
	margin-top: 1.1%;
	float: left;	
}
#count_7{
	clear: left;
	margin-top: 1.55%;
	float: left;	
}
#count_8, #count_9{
	margin-top: 1.55%;
	float: left;	
}
#count_10, #count_13, #count_16{
	margin-left: 7.8% !important;
}
#count_10{
	margin-top: .8%;
}
#count_11, #count_12{
	margin-left: .65% !important;
	margin-top: .8%;
}
#count_13{
	margin-top: 1.2%;
}
#count_14, #count_15{
	margin-left: .65% !important;
	margin-top: 1.2%;
}
#count_16{
	margin-top: 1.55%;
}
#count_17, #count_18{
	margin-left: .65% !important;
	margin-top: 1.55%;
}
@media screen and (max-width: 668px) {
	#count_11, #count_12{
	margin-left: .3% !important;
	margin-top: .8%;
	}
	#count_13{
		margin-top: 1.2%;
	}
	#count_14, #count_15{
		margin-left: .3% !important;
		margin-top: 1.2%;
	}
	#count_16{
		margin-top: 1.55%;
	}
	#count_17, #count_18{
		margin-left: .3% !important;
		margin-top: 1.55%;
	}
}
</style>